<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beatriz.biatortas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".CardapioActivity" />
        <activity android:name=".ContatoActivity" />
        <activity android:name=".HistoriaActivity" />
        <activity android:name=".DetalheTorta1Activity" />
        <activity android:name=".Detalhe2Activity" />
        <activity android:name=".Detalhe3Activity" />
        <activity android:name=".Detalhe4Activity"></activity>
    </application>

</manifest>